{% extends "base.html" %}
{% load thumbnail %}
{% load user_filters %}

{% block title %}Search Results - Wobidobi.com | Find News and Blog Posts{% endblock %}
{% block description %}Looking for something specific? Use Wobidobi.com's search feature to quickly find news articles, blog posts, and more. Discover the content you’re searching for on our comprehensive site.{% endblock %}


{% block content %}
<div class="section search-hero">
    <div class="container-default w-container">
      <div class="inner-container _500px center">
        <div class="text-center">
          <h1 class="display-1 color-neutral-100">Search results</h1>
          <p class="color-neutral-400 mg-bottom-24px">
            Explore our collection of articles, tips, and updates by browsing through the search results below. Find the insights you need to enhance your knowledge and understanding.</p>
        </div>
        {% include "includes/search_input.html" %}
      </div>
    </div>
  </div>

  <div class="section top">
    <div class="container-default w-container">
        <div class="w-layout-grid grid-2-columns sidebar-content">
            <div id="w-node-_504883fc-b26e-b64f-cfed-179d1ea0a43c-a53cc375">
                <div data-w-id="18179618-f4f1-bf64-3fac-c197bb5b10d6" style="opacity:0" class="w-dyn-list">
                    <div role="list" class="grid-1-column gap-row-48px w-dyn-items">
                        {% for post in posts %}
                        <div role="listitem" class="w-dyn-item">
                            <a href="{% url 'posts:post_detail' post.slug%}" class="blog-card-featured-wrapper w-inline-block">
                                <div data-w-id="18179618-f4f1-bf64-3fac-c197bb5b10da" class="w-layout-grid grid-2-columns blog-card-primary">
                                    {% thumbnail post.image "314x314" crop="center" upscale=True as im %}
                                    <div class="blog-card-image-wrapper featured-v1">
                                        <img src="{{ im.url }}" alt="" class="blog-card-image featured-v1">
                                    </div>
                                    {% endthumbnail %}
                                    <div class="blog-card-content-default">
                                        <div class="text-uppercase mg-bottom-16px">
                                            <div class="text-200 bold">{{post.group}}</div>
                                        </div>
                                        <h3>{{post.title}}</h3>
                                        <p class="mg-bottom-24px">{{post.short_text}}</p>
                                        <div class="blog-card-details-container">
                                            <div class="author-container">
                                                {% thumbnail post.author.user_profile.image "50x50" crop="center" upscale=True as im %}
                                                <div class="avatar-circle _01 blog-card-bg-author-image">
                                                    <img src="{{ im.url }}" loading="eager" alt="">
                                                </div>
                                                {% endthumbnail %}
                                                <div class="text-100 bold color-neutral-800">{{post.author.first_name}} {{post.author.last_name}}</div>
                                            </div>
                                            <div class="blog-card-bg-date-container">
                                                <div class="line-rounded-icon clock-icon dark"></div>
                                                <div class="text-100 bold color-neutral-800">{{post.pub_date|date:"F j, Y" }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                        {% include 'posts/includes/paginator.html' %}
                        {% if not posts %}
                          <div class="empty-state">
                            <div>No results found for your search.</div>
                          </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% include "includes/sidebar.html" with show=no %}
        </div>
    </div>
</div>

{% endblock content %}

