ul.errorlist {
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 5px;
    text-align: left;
    list-style-type: none;
    font-size: 12px;
    padding-left: 0;
    margin-top: 15px;
    line-height: 1.7;
}
.helptext {
  background-color: #f1f1f1;
  color: #333;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin: 15px 0px 5px 0px;
  font-size: 12px;
  text-align: left;
  line-height: 1.7;
}
.helptext ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 10px 0;
}
.helptext ul li {
  margin: 5px 0;
  line-height: 1.5;
}